<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<br>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-10">
            <h5 class="card-header text-primary fw-bold">LISTA DE URLS</h5>
        </div>
        <!-- busquedas en las listas  -->
        <form action="" method="GET">
            <div class="row d-flex flex-row align-items-baseline">
                <div class="col-md-8 d-flex flex-row align-items-baseline border rounded border-light m-3 p-2">
                    <i class="bx bx-search fs-4 lh-0 "></i>
                    <input type="text" class="form-control" name="buscar" value="{{request.GET.buscar}}"
                        placeholder="Buscar..." autocomplete="off">
                    <input type="submit" class="btn btn-primary m-2" value="Buscar">
                    <a href="{% url 'urls:lista' %}" class="btn btn-primary m-1">Limpiar</a>
                </div>

                <div class="col-md-2">
                    <a href="{% url 'urls:agregar' %}" class="btn btn-primary">Agregar</a>
                </div>

            </div>
        </form>
        <!-- fin de busquedas en las listas -->
    </div>

    <!-- Striped Rows -->
    <div class="card mb-3">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Url Interna</th>
                        <th>Sistema</th>
                        <th>Estatus</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody class="table-border-bottom-0">

                    {% for url in urls %}
                    <tr>
                        <td>{{url.id}}</td>
                        <td>
                            <a href="consulta/{{url.id}}">
                                <strong>{{url.urlInterna}}</strong>
                            </a>
                        </td>
                        <td>{{url.sistema.siglas}}</td>
                        <td>{{url.get_estatus_display}}</td>
                        <td>
                            <a class="btn btn-outline-secondary" href="editar/{{url.id}}"> <i
                                    class="bx bx-edit-alt me-1"></i>
                                Editar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>
            <!-- paginacion de las listas  -->
            <nav aria-label="Page navigation" class="d-flex justify-content-center pagination-lg">
                {% if is_paginated %}
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}
                    <li class="page-item prev">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <i class="tf-icon bx bx-chevrons-left"></i>
                        </a>
                    </li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                    <li 
                        {% if page_obj.number == i %} 
                            class="page-item active" 
                        {% else %} 
                            class="page-item" 
                        {% endif %} >
                        <a class="page-link" href="?page={{i}}">{{ i }}</a>
                    </li>
                    {% endfor  %}

                    {% if page_obj.has_next %}
                    <li class="page-item next">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <i class="tf-icon bx bx-chevrons-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
            <!-- paginacion de las listas  -->

        </div>
    </div>
    <!--/ Striped Rows -->



</div>


{% endblock contenido %}