<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<br>
<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Consultar Base de Datos</span>
    </h4>

    <!-- Basic Layout -->
    <div class="row">

        <div class="col-xl-7">
            <div class="card mb-4">
                <div class="card-body">

                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            <p>{{field.label_tag}}</p>
                            <p>{{field}}</p>
                        </div>
                        {% endfor %}
                        <a href="/databases/" class="btn btn-danger">Cancelar</a>
                    </form>

                </div>
            </div>
        </div>
        
    </div>

</div>
<!-- / Content -->

{% endblock contenido %}