<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<br>
<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Consulta Documento</span>
    </h4>

    <!-- Basic Layout -->
    <div class="row">

        <div class="col-xl-7">
            <div class="card mb-4">
                <div class="card-body">

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}

                        {% for field in form %}
                        <div class="mb-3">                            
                            <p>{{field.label_tag}}</p>
                            <p>{{field}}</p>
                        </div>
                        {% endfor %}
                        <a href="/documentos/" class="btn btn-danger">Cancelar</a>
                        
                        {% if tipo_archivo != "" %}
                                
                            <a href="/documentos/" class="btn btn btn-primary">Descargae Documento</a>
                            
                            {% if tipo_archivo  == '.pdf' %}
                                <a href="{{ archivo.url }}" class="btn btn-primary">Ver Documento</a>                            
                            {% endif %}
                            
                        {% endif %}
                            

                    </form>

                </div>
            </div>
        </div>
        
    </div>

</div>
<!-- / Content -->

{% endblock contenido %}